<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Login page</title>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous">
	
</script>


</head>
<body onload="generateAges()">
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center text-primary">Participation System</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<h3>Login</h3>
				<form role="form" th:action="@{/login}" method="post" id="formLogin">
					<div class="form-group">

						<label for="userNameInput"> Username: </label> <input type="text"
							class="form-control" id="userNameInput" name="username"
							placeholder="Username" />
					</div>
					<div class="form-group">

						<label for="passwordInput"> Password: </label> <input
							type="password" class="form-control" id="passwordInput"
							name="password" placeholder="Password" />
					</div>

					<button type="submit" class="btn btn-default" id="loginButton">Login</button>
				</form>
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-4">
				<h3>Register</h3>
				<form role="form" th:action="@{/register}" th:object="${createUser}"
					method="post" id="formRegister">
					<div class="form-group">

						<label for="registerUsername"> Username: </label> <input
							type="text" class="form-control" id="registerUsername"
							name="username" th:field="*{username}" placeholder="Username" />
					</div>
					<div class="form-group">

						<label for="registerPassword"> Password: </label> <input
							type="password" class="form-control" id="registerPassword"
							name="password" placeholder="Password" th:field="*{password}" />
					</div>

					<div class="form-group">
						<label for="registerAge"> Age: </label> <select id="ageSelect"
							class="form-control" th:field="*{age}">
							<option selected="true" value="18">Select your age</option>
							<option th:each="n : ${#numbers.sequence(18,100)}" th:value="${n}" th:text="${n}"/>
						</select>

					</div>

					<button type="submit" class="btn btn-default" id="buttonRegister">Register</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>